html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
}

/* Block Styles */

.block {
  background-color: #fff;
  margin: 2rem 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 2rem;
}

.flex_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.block_name {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  position: relative;
}

.block_name::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 4rem;
  left: 0;
  bottom: -10px;
  position: absolute;
  background-color: #FB9D03;
}

/*END Block Styles END*/